@import './node_modules/sassy-normalize/normalize';
@import './assets/styles/conf/configs';

$white: #fff;

html {
	height: 100%;
}
body {
	background-color: $white;
	display: flex;
	font-family: 'Helvetica Neue', sans-serif;
	min-height: 100%;
}
