@import '../func/functions';
@import '../mix/mixins';

// ---------- Asymptotic Fibonacci numbers  ----------

$fibonacci-number: 1.61803398875;
$fibo-asymp-xxxl: number(str-replace(#{$fibonacci-number - 1 / 1}, '-', '')); // 0.61803398875
$fibo-asymp-xxl: number(str-replace(#{$fibonacci-number - 2 / 1}, '-', '')); // 0.381966011
$fibo-asymp-xl: number(str-replace(#{$fibonacci-number - 3 / 2}, '-', '')); // 0.118033989
$fibo-asymp-l: number(str-replace(#{$fibonacci-number - 5 / 3}, '-', '')); // 0.048632678
$fibo-asymp-m: number(str-replace(#{$fibonacci-number - 8 / 5}, '-', '')); // 0.018033989
$fibo-asymp-s: number(str-replace(#{$fibonacci-number - 13 / 8}, '-', '')); // 0.006966011
$fibo-asymp-xs: number(str-replace(#{$fibonacci-number - 21 / 13}, '-', '')); // 0.002649373
$fibo-asymp-xxs: number(str-replace(#{$fibonacci-number - 34 / 21}, '-', '')); // 0.00101363
$fibo-asymp-xxxs: number(str-replace(#{$fibonacci-number - 55 / 34}, '-', '')); // 0.00038693

// ---------- Asymptotic Fibonacci percentage  ----------

$fibo-asymp-xxxl-percentage: $fibo-asymp-xxxl * 100%; // 61.803398875%
$fibo-asymp-xxl-percentage: $fibo-asymp-xxl * 100%; // 38.1966011%
$fibo-asymp-xl-percentage: $fibo-asymp-xl * 100%; // 11.8033989%
$fibo-asymp-l-percentage: $fibo-asymp-l * 100%; // 4.8632678%
$fibo-asymp-m-percentage: $fibo-asymp-m * 100%; // 1.8033989%
$fibo-asymp-s-percentage: $fibo-asymp-s * 100%; // 0.6966011%
$fibo-asymp-xs-percentage: $fibo-asymp-xs * 100%; // 0.2649373%
$fibo-asymp-xxs-percentage: $fibo-asymp-xxs * 100%; // 0.101363%
$fibo-asymp-xxxs-percentage: $fibo-asymp-xxxs * 100%; // 0.038693%

$font-family: 'Helvetica Neue', sans-serif;
$font-root: 16px;
$global-padding: 16px;
$global-margin: 16px;
$gutter-width: 16px;

$black: #000;
$white: #fff;
$energy-yellow: #f7d14c;

$s: 320px;
$m: 600px;
$l: 1705px; // Mockup content width

@import '../mix/fonts';

// ----------  Fonts config  ----------

$font-name: 'Helvetica Neue';
$font-path: '../assets/fonts/HelveticaNeue/';

// ----------  Helvetica Neue  ----------

@include font-face($font-name, 'Helvetica Neue Thin Italic',        'HelveticaNeue-ThinItalic',       '#{$font-path}HelveticaNeue-ThinItalic',       italic, 100);
@include font-face($font-name, 'Helvetica Neue Thin',               'HelveticaNeue-Thin',             '#{$font-path}HelveticaNeue-Thin',             normal, 100);

@include font-face($font-name, 'Helvetica Neue Ultra Light Italic', 'HelveticaNeue-UltraLightItalic', '#{$font-path}HelveticaNeue-UltraLightItalic', italic, 200);
@include font-face($font-name, 'Helvetica Neue Ultra Light',        'HelveticaNeue-UltraLight',       '#{$font-path}HelveticaNeue-UltraLight',       normal, 200);

@include font-face($font-name, 'Helvetica Neue Light Italic',       'HelveticaNeue-LightItalic',      '#{$font-path}HelveticaNeue-LightItalic',      italic, 300);
@include font-face($font-name, 'Helvetica Neue Light',              'HelveticaNeue-Light',            '#{$font-path}HelveticaNeue-Light',            normal, 300);

@include font-face($font-name, 'Helvetica Neue Italic',             'HelveticaNeue-Italic',           '#{$font-path}HelveticaNeue-Italic',           italic, 400);
@include font-face($font-name, 'Helvetica Neue Roman',              'HelveticaNeue-Roman',            '#{$font-path}HelveticaNeue-Roman',            normal, 400);

@include font-face($font-name, 'Helvetica Neue Medium Italic',      'HelveticaNeue-MediumItalic',     '#{$font-path}HelveticaNeue-MediumItalic',     italic, 500);
@include font-face($font-name, 'Helvetica Neue Medium',             'HelveticaNeue-Medium',           '#{$font-path}HelveticaNeue-Medium',           normal, 500);

@include font-face($font-name, 'Helvetica Neue Bold Italic',        'HelveticaNeue-BoldItalic',       '#{$font-path}HelveticaNeue-BoldItalic',       italic, 700);
@include font-face($font-name, 'Helvetica Neue Bold',               'HelveticaNeue-Bold',             '#{$font-path}HelveticaNeue-Bold',             normal, 700);

@include font-face($font-name, 'Helvetica Neue Heavy Italic',       'HelveticaNeue-HeavyItalic',      '#{$font-path}HelveticaNeue-HeavyItalic',      italic, 800);
@include font-face($font-name, 'Helvetica Neue Heavy',              'HelveticaNeue-Heavy',            '#{$font-path}HelveticaNeue-Heavy',            normal, 800);

@include font-face($font-name, 'Helvetica Neue Black Italic',       'HelveticaNeue-BlackItalic',      '#{$font-path}HelveticaNeue-BlackItalic',      italic, 900);
@include font-face($font-name, 'Helvetica Neue Black',              'HelveticaNeue-Black',            '#{$font-path}HelveticaNeue-Black',            normal, 900);

%container {
	margin: 0 auto;
	max-width: $l + $global-padding * 2;
	padding: 0 $global-padding;
}
